{% extends "global/Page.html" %}

{% block title %}Introduction{% endblock %}
{%block content %}
        Thank you for participating! This is a study of individual and group decision-making. We have set up, on these computers, a controlled environment in which you will be paid based on your decisions. 
        Please read the instructions carefully. It is important that you understand all of the instructions, so that you are able to participate effectively. If there is something you do not understand or if you have any questions, please raise your hand. 
        In this study, you will be asked to play a game. After you have completed the main activity, you will be asked to fill out an exit survey. 
        Again, you are free to leave the study at any time; however, you must complete all activities as well as the exit survey in order to receive your earnings.

    {% next_button %}
{% endblock %}
